:root {
    --dark-blue: #204461;
    --dark-blue-box-shadow: 0 0 5px var(--dark-blue);
    --dark-blue-text-shadow: 0 0 8px var(--dark-blue);
    --white: #FFFFFF;
    --blue: #376E8C;
    --black-point-one: rgba(0, 0, 0, 0.1);
    --black-point-two: rgba(0, 0, 0, 0.2);
}