:root {
    --dark-contrast-colour: #204461; /* Hovered Checkbox, Heading text, active tab text, Chat Card heading bg, high contrast text */
    --dark-contrast-colour-box-shadow: 0 0 5px var(--dark-contrast-colour);
    --dark-contrast-colour-text-shadow: 0 0 8px var(--dark-contrast-colour);
    --light-text-colour: #FFFFFF; /* Text in boxes with --box-colour and --dark-contrast-colour */
    --box-colour: #376E8C; /* Inactive checkbox, bg of size/conviction/additional stat boxes*/
    --black-point-one: rgba(0, 0, 0, 0.1);
    --black-point-two: rgba(0, 0, 0, 0.2);
}